body {
	font-family:"Droid serif", serif;
	font-size: 12pt;
	color:#333;
}
.main {
	width:800px;
	margin:20px auto;
	padding:20px;
	border:1px solid #ddd;
	min-height: 500px;
}
.text-center {
	text-align: center;
}
.title,.subtitle,.author,h1,h2 {
	color:#111;
	margin-bottom: 20px;
	text-align: center;
}
.title {
	font-size: 24pt;
	font-weight: bold;
}
.subtitle {
	font-size: 18pt;
}
.content {
	font-size: 14pt;
}
.title a, .title a:hover, .title a:visited, .title a:focus, .title a:active, 
.subtitle a, .subtitle a:hover, .subtitle a:visited, .subtitle a:focus, .subtitle a:active,
h1 a, h1 a:hover, h1 a:visited, h1 a:focus, h1 a:active,
h2 a, h2 a:hover, h2 a:visited, h2 a:focus, h2 a:active
{
	color:#111;
	text-decoration: none;
}

ul.nostyle {
	padding:0;
	margin:0;
}
ul.nostyle li {
	list-style: none;
}

a, a:hover, a:visited, a:focus, a:active 
{
	color:blue;
}

.synopsis {
	margin:auto;
	width:450px;
	color:darkgray;
	font-style: italic;
	text-align: center;
}

ul.toc {
	text-align:center;
}
ul.toc li {
	padding:8px 0;
}

.main p{
	line-height: 2em;
}